@CHARSET "UTF-8";
.form {
			position : relative;
			top: 10px;
			left: 20px;
				
			margin-bottom: 50px;
			padding: 30px;
			
			background-color: #F8F8F8 ;
				
			border-radius: 5px;			
			border: solid 1px;
			border-color: #A8A8A8 ;
				
			box-shadow: 10px -4px 4px rgba(150, 150, 150, 0.21);	
			font: 10pt sans-serif;		
}

.ui-outputlabel{	
			position : relative;
			left: 15px;
}
		
		.input{
			position : relative;
			left: 45px;
}
		

		
		.button{
			position : relative;
			right: 30px;
			bottom: 5px;
}