@CHARSET "UTF-8";

.ui-outputlabel{
	margin-left: 10px;
}

.item{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.radio{
	/*margin-top: 10px;*/
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 20px;
	float:left;
	/*height: 150px !important;*/
	height: 120px !important;
}

.predefineddate{
	margin-top: 10px;
}

.calendar-box{
	/*margin-top: 40px;*/
	margin-top: 37px;
}

.calendar-item{
	width: 100px !important;
} 


.ui-selectonemenu{
     width: 270px !important;     
}

.ui-selectcheckboxmenu{
	width: 270px !important;
}


.top-control-panels td{	
	vertical-align: top;
	
}

.top-left-panel{
	padding: 14px;
}

.top-center-panel{
	padding: 14px;
}

.top-right-panel{
	padding: 14px;
	width : 100%;
	min-width: 330px;
}

.main-buttons-panel{
	width : 100%;
	padding: 20px;
}

.main-buttons{									
	width: 100px;
	margin-right: 10px;
}

.tabView{
	margin-top: 2px;
	border-radius: 5px;
}


