@CHARSET "UTF-8";

*{
     color: #14305f;
}


.ui-widget{
	font: 12pt sans-serif;
   /* color: #14305f !important;*/
}

.ui-widget-content {
	/*color: #14305f !important;*/
}

.ui-outputlabel{
	font-weight: bold;
	/*color: #14305f;*/
}

.ui-button{
	/*width: 100px;*/
	/*font-weight: bold;*/
}

.ui-growl-title{
	 color: white;
}

.ui-growl-message p{
    color: white;
}

.panel{
	background-color: #F8F8F8;
	border-radius: 5px;
	border: solid 1px;
	border-color: #CFD1D1;
}



.ui-datatable .ui-datatable-header{
	font: 12pt sans-serif; !important;
	font-weight: bold;
	color: #14305f  !important;
}
/*
.ui-datatable  .ui-datatable-data{
	font-weight: bold;
	  color: #14305f  !important;
}
*/
.ui-datatable .ui-datatable-data{
	height: 100%  !important;

}

.ui-datatable  .ui-commandlink{
	 color: #14305f !important;
	 text-decoration: none; 
}

.out-link{
	 color: #14305f !important;
	 text-decoration: none; 
}

.out-link:hover{
	 color: #1e90ff !important;
	 text-decoration: underline; 
}

