/* Generated via www.cssmenubuilder.com */
.mainMenu {
	margin: 0 auto;
	padding: 0;
	height: 30px;
	width: 100%;
	display: block;
	background: url("#{resource['img/topMenuImages.png']}") repeat-x;
}

.mainMenu li {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline;
}

.mainMenu li a {
	float: left;
	padding-left: 15px;
	display: block;
	color: rgb(255, 255, 255);
	text-decoration: none;
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	cursor: pointer;
	background: url("#{resource['img/topMenuImages.png']}") 0px -30px no-repeat;
}

.mainMenu li a span {
	line-height: 30px;
	float: left;
	display: block;
	padding-right: 15px;
	background: url("#{resource['img/topMenuImages.png']}") 100% -30px no-repeat;
}

.mainMenu li a:hover {
	background-position: 0px -60px;
	color: rgb(255, 255, 255);
}

.mainMenu li a:hover span {
	background-position: 100% -60px;
}

.mainMenu li a.active,.menu li a.active:hover {
	line-height: 30px;
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	background: url("#{resource['img/topMenuImages.png']}") 0px -90px no-repeat;
	color: rgb(255, 255, 255);
}

.mainMenu li a.active span,.menu li a.active:hover span {
	background: url("#{resource['img/topMenuImages.png']}") 100% -90px no-repeat;
}