@CHARSET "UTF-8";

.logout {
			
			float:right;
		
}	
		
.menuItem {
			margin-right : 5px;
			margin-left : 5px;
}
		
.logotype{
			#position : relative;
			#float:left;			
}	
		
.menu{
			position : absolute;
			top: 67px;
			right: 10px;	
			margin-left: 10px;
}	
		
.title{
			position : relative;
			#float:left;
			top: -10px;
			left: 30px;
			font-family: "Verdana", "sans-serif";
			font-style: italic;
			color: #14305f;
			text-shadow: 10px -4px 4px rgba(150, 150, 150, 0.32);	
}		